# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.5

## Exercícios Cap02

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
listanum = [1,2,3,4,5,6,7,8,9,10]
listanum

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
listaObj = ["Casa","Carro","Caneta","Lápis","Borracha"]
listaObj

['Casa', 'Carro', 'Caneta', 'Lápis', 'Borracha']

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
str1 = "Miguel"
str2 = "Barreto"
str3 = str1 + " " + str2
str3

'Miguel Barreto'

In [7]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tuple1 = (1,2,2,3,4,4,4,5)
tuple1.count(4)

3

In [8]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict = {}
dict

{}

In [9]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict1 = {"ALUNO":"152040654","NOME_COMPL":"Miguel Freitas Barreto", "CPF":"02151070557"}
dict1

{'ALUNO': '152040654',
 'NOME_COMPL': 'Miguel Freitas Barreto',
 'CPF': '02151070557'}

In [13]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict1["DATA_NASC"] = "25/05/1985"
dict1

{'ALUNO': '152040654',
 'NOME_COMPL': 'Miguel Freitas Barreto',
 'CPF': '02151070557',
 'DATA_NASC': '25/05/1985'}

In [24]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dict2 = {"Lula":"Presidente","Ciro":["Ministro","Governador"],"NUMERO_PARTIDO":[13,12]}
dict2

{'Lula': 'Presidente',
 'Ciro': ['Ministro', 'Governador'],
 'NUMERO_PARTIDO': [13, 12]}

In [25]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
list4 = ["Miguel", (13,25),{"Pai":"Nivaldo", "Mãe":"Valmira"},8400.50]
list4

['Miguel', (13, 25), {'Pai': 'Nivaldo', 'Mãe': 'Valmira'}, 8400.5]

In [27]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>